.block-wrapper {
  // max-width: 1160px;
  // width: 100%;
  // width: 100%;
  margin: 0 auto;
  max-width: 1371px;
  display: flex;
  padding: 0 105px;

  @media screen and (max-width: 1140px) {
    padding: 0 50px;
  }
}
