.block-wrapper {
  margin: 0 auto;
  max-width: 1371px;
  box-sizing: border-box;
  display: flex;
  padding: 0 105px;

  @media screen and (max-width: 1140px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 1140px) {
    padding: 0 20px;
  }
}
