@import '../utils/color.scss';
@import '../utils/variables.scss';

.footer {
  width: 100%;
  background-color: $black;

  &__container {
    margin-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__item-list {
    gap: 56px;
  }

  &__contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__telephone {
    font-family: 'Play';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
  }
}
