@import '../utils/color.scss';
@import '../utils/variables.scss';

.gallery {
  display: flex;
  background-image: url(../../images/about/about-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;

  &::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), linear-gradient(103.39deg, rgba(0, 0, 0, 0.51) 63.7%, rgba(0, 0, 0, 0) 70.31%), linear-gradient(110.16deg, rgba(0, 0, 0, 0.49) 22.58%, rgba(0, 0, 0, 0.3822) 45.79%, rgba(0, 0, 0, 0) 55.39%), rgba(196, 196, 196, 0.82);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__container {
    width: 100%;
    margin-top: 97px;
    padding-bottom: 97px;
    gap: 140px;

    @media screen and (max-width: 1023px) {
      margin-top: 67px;
      padding-bottom: 67px;
      gap: 40px;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {

    }
  }

  &__content-container {
    padding-bottom: 104px;
    max-width: 362px;
    width: 100%;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 137px;
      height: 137px;
      right: 0;
      border-bottom: 2px solid #FFBF1A;
      border-right: 2px solid #FFBF1A;
    }

    @media screen and (max-width: 1023px) {
      max-width: 100%;
      padding-bottom: 44px;
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 34px;

      &::before {
        width: 85px;
        height: 85px;
      }
    }
  }

  &__title {

    @media screen and (max-width: 1023px) {
      text-align: center;
    }
  }

  &__subtitle {
    margin-top: 31px;

    @media screen and (max-width: 1023px) {
      text-align: center;
    }
  }

  &__button {
    margin-top: 38px;
    width: 187px;
    height: 51px;
    border: none;
    background-color: $yellow;
    filter: drop-shadow(0px 2px 15px #B6B6B6);
    border-radius: 10px;
    font-family: $defaultFonts;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 67.5%;
    color: $black;

    @media screen and (max-width: 1023px) {
      align-self: center;
      width: 250px;
    }
  }
}
