@import '../utils/color.scss';
@import '../utils/variables.scss';

.header {
  padding-top: 35px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item-list {
    margin-left: 60px;
    display: flex;
    gap: 24px;

    &_type_burger {
      flex-direction: column;
      margin: 0;
      gap: 44px;
    }
  }

  &__link {

    &_type_burger {
      font-size: 23px;
      line-height: 25px;
      color: $black;
      display: block;
      text-align: center;
      cursor: pointer;
    }
  }

  &__contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__call-popup-btn {
    width: 189px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid $white;
    font-family: $defaultFonts;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $white;
  }

  &__telephone {
    font-family: 'Play';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    text-align: right;
  }

  &__button-container {
    display: none;
    width: 37px;
    height: 37px;
    z-index: 999;

    @media screen and (max-width: 850px) {
      display: flex;
    }
  }

  &__burger-button {
    margin: auto;
    display: grid;
    position: fixed;
    right: 15px;
    place-items: center;
    height: 37px;
    width: 37px;
    cursor: pointer;
    overflow:hidden;

    span {
      width: 37px;
      height: 3px;
      display: block;
      background-color: $white;
      transition: all 0.3s ease-in-out;
      justify-self: end;

      &:nth-child(1) {
        width: 37px;
      }

      &:nth-child(2) {
        width: 32px;
      }
    }

    &:hover {
      span:nth-child(1) {
        width: 28px;
      }

      span:nth-child(2) {
        width: 37px;
      }
    }

    &.active {
      span:nth-child(1) {
        transform-origin: center center;
        transform: rotate(-45deg) translate(-25%, 300%);
        width: 37px;
        background-color: $black;
      }

      span:nth-child(2) {
        transform: translateX(40px);
        background-color: $black;
      }

      span:nth-child(3) {
        transform-origin: center center;
        transform: rotate(45deg) translate(-25%, -300%);
        width: 37px;
        background-color: $black;
      }

    }
  }
}
