@import '../utils/color.scss';
@import '../utils/variables.scss';

.header {
  padding-top: 35px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    width: 106px;
    height: 37px;
    background-image: url(../../images/logo/logo.svg);
    background-size: cover;

    @media screen and (max-width: 1023px) {
      max-width: 96px;
      width: 100%;
      max-height: 34px;
    }

    @media screen and (max-width: 850px) {
      width: 106px;
      height: 37px;
    }
  }

  &__burger {
    display: none;
    width: 37px;
    height: 37px;
    background-image: url(../../images/header/burger.svg);
    background-size: cover;

    @media screen and (max-width: 850px) {
      display: flex;
    }
  }

  &__navigation {
    display: flex;
    margin-top: 10px;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__item-list {
    margin-left: 60px;
    display: flex;
    gap: 24px;
  }

  &__link {
    color: $white;
    font-family: $defaultFonts;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  &__contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__call-popup-btn {
    width: 189px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid $white;
    font-family: $defaultFonts;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $white;
  }

  &__telephone {
    font-family: 'Play';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    text-align: right;
  }
}
