@import '../utils/color.scss';
@import '../utils/variables.scss';

.team {
  background-color: #0E0E0E;

  &__container {
    padding-top: 55px;
    padding-bottom: 86px;
  }

  &__image-wrapper {
    padding: 0 40px 40px 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 137px;
      height: 137px;
      right: 0;
      border-bottom: 1px solid rgba(255, 191, 26, .4);
      border-right: 1px solid rgba(255, 191, 26, .4);
    }
  }

}

