@import '../utils/color.scss';
@import '../utils/variables.scss';

.team {
  background-color: #0E0E0E;
  position: relative;
  overflow: hidden;

  &::after {
    max-width: 100wv;
    width: 100%;
    height: 896px;
    content: '';
    position: absolute;
    top: 354px;
    background-color: rgba(153, 137, 102, 0.18);
    border-radius: 10px;
    transform: rotate(-6.81deg);
  }

  &__container {
    margin-top: 64px;
    padding-bottom: 86px;
    padding-left: 118px;
    padding-right: 101px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (max-width: 768px) {
      margin-top: 58px;
      padding-bottom: 60px;
      padding-left: 25px;
      padding-right: 15px;
    }
  }

  &__image-wrapper {
    padding: 0 54px 60px 0;
    max-width: 494px;
    width: 100%;
    display: flex;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 137px;
      height: 137px;
      right: 0;
      border-bottom: 1px solid rgba(255, 191, 26, .4);
      border-right: 1px solid rgba(255, 191, 26, .4);
    }

    @media screen and (max-width: 1023px) {
      order: 2;
      margin-top: 30px;
    }
  }

  &__image {
    display: block;
    height: auto;

    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 23px rgba(255, 255, 255, 0.47));
    border-radius: 10px;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    padding-left: 43px;

    @media screen and (max-width: 767px) {
      padding-left: 0px
    }
  }

  &__title-wrapper {
    margin-top: 10px;
    margin-left: 30px;
    max-width: 531px;
    height: 158px;
    width: 100%;
    max-height: 158px;
    display: flex;
    position: relative;
    border: 2px solid $yellow;
    border-radius: 10px;

    @media screen and (max-width: 767px) {
      height: auto;
      width: auto;
    }
  }

  &__title {
    position: relative;
    top: 42px;
    right: 30px;
    letter-spacing: -0.08em;
    color: $whiteGray;
  }

  &__service-list {
    margin-top: 68px;
    max-width: 560px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 43px;
    row-gap: 34px;

    @media screen and (max-width: 768px) {
      column-gap: 23px;
    }
  }

  &__service-item {
    max-width: 269px;

    display: flex;

    position: relative;

    &_type_before-container {
      padding-bottom: 45px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 103px;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid rgba(255, 191, 26, 0.4);
      }
    }
  }

  &__service-number {
    padding-right: 8px;
    font-family: $righteous;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 62px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $yellow;

    &_type_first {
      padding-right: 24px;
    }
  }

  &__service-description {
    align-self: flex-end;
    color: $whiteGray;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

